@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  background-color: #f8fafc;
  color: #0f172a;
}

.input {
  @apply w-full rounded-md border border-slate-300 px-3 py-2 text-sm outline-none focus:border-slate-500;
}
